body{
	background-image: url('Image_Resources/backimg.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	height: 500px;
	font-family: Helvetica; 
}

.introsection {
	text-align: center;
	font-size: 20px;
}

h1 { 
     
	display: inline;
	text-align: center;
	color: black;
	font-size: 55px;	
}

.name {
	animation-name: namecolorchange;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes namecolorchange{
	0%{color: cyan;}
	30%{color: lightblue;}
	60%{color: aqua;}
	100%{color: lightgreen;}
}	

h2 {
	text-align: center;
}

.aboutmyself {
	text-align: center;
	font-size: 23px;

}

.Words {
	font-weight: bold;
	font-size: 20px;
}

.info {
	display: flex; 
	color: black;
	justify-content: left;
	align-items: center;
	font-weight: bold;
	font-size: 20px;
	
}

.info div{
	animation-name: myportfoliocolorchange;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes myportfoliocolorchange{
	0%{color: cyan;}
	30%{color: lightblue;}
	60%{color: aqua;}
	100%{color: lightgreen;}
}	

.indexheader {
    /* background-color: grey; */
	margin:0;
	padding: 20px;
}

.navbar {
	display: flex;
	justify-content: right;
	text-align: center;

}

.navbaritem {
    list-style: none;  
    margin: 0;
    padding: 0;
    display: flex; 
	text-align: center;

}


.navoption {
    margin: 15px;
	padding: 0;
    list-style: none;
	text-decoration: none;

}

.navlink {
    color: black;
    font-weight: bold;
	text-decoration: none;
    padding: 10px;
	display: inline-block;
    transition: color 0.5s ease, transform 0.5s ease;


}
.navlink:hover {
	color: red; 
	transform: scale(1.2);

}


.main{	
    display: grid;
	margin-top: 5px;
	justify-content: center;
	align-items: center;
	background-color: rgba(81, 123, 130, 0.7);
	padding: 80px;
}


footer {
	font-size: 15px;
	margin-top: 65px;
    font-weight: bold;
	animation-name: colorchange;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

footer a {
	color: black;
    font-weight: bold;
	font-family: Helvetica;
	text-decoration: none;
	list-style: none;
	animation-name: colorchange;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	border-radius: 0;
	padding: 9px;
	display: inline-block;
	transition: color 0.5s ease, border 0.5s ease, background-color 0.5s ease;

}

footer a:hover{
	background-color: grey;
	border-radius: 8px;
	/* transform: scale(1.3); */
}

@keyframes colorchange{
	from{color: cyan;}
	to{color: lightblue;}
	to{color: aqua;}
	to{color: lightgreen;}
}

/* Responsive */
@media screen and (max-width: 500px) {

    .navbaritem {
        flex-direction: row;
		align-items: center;
    }
	
	.navoption{
		width: 100%;         
		margin: 5px;
		align-items: center;
	}
	
	.main{
		padding: 10px;
	}
	
	.introsection{
		padding: 10px;
	}
	
	.nav-option {
    text-align: center;
  }
  
    .nav-link {
    display: block;      
    padding: 10px;
  }
  
  footer {
	  text-align: center;
  }

}
